.grid-pane{
    -fx-backnground-color: #b0bebe;
}
.custom-button{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.profile-image{
    -fx-background-radius: 50%;
    -fx-background-color: transparent;
    -fx-border-radius: 50%;
    -fx-border-color: red;
    -fx-border-width: 3px;
}

.username{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 0 10px;
}